/* .App {
  text-align: center;
} */

header {
  display: flex;
  justify-content: left;
  background-color: #5B5A5A;
  height: 55px;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 50px auto;
}

.home-header {
  padding: 10px;
}

.home-birds-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.home-birds {
  height: 175px;
  width: 175px;
}

.site-header {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 75px;
}

.view-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  margin: 75px auto;
}

.view-left-container {
  flex-grow: 1;
  padding-top: 50px;
}

.view-right-container {
  flex-grow: 2;
  padding: 30px;
  color: #595757;
}

.view-header {
  font-size: 28px;
  margin-bottom: 5px
}

.view-genus {
  font-style: italic;
  font-size: 14px;
  margin-top: 3px;
  font-weight: lighter;
}

.view-conservation-title {
  margin-bottom: 0;
}

.view-conservation-description {
  margin-top: 0;
}